body {
  margin: 0;
}

.loading-page h1{
  margin: 10rem auto;
  text-align: center;
}

button{
  font-family: 'Press Start 2P', sans-serif;
  border: none;
  border-radius: 25px;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 2rem 1rem;
  box-shadow: 5px 10px #d77a7a;
  font-size: 1.2rem;
}

button:hover{
  text-decoration: underline;
  cursor: pointer; 
}

li, p{
  font-size: 1rem;
  line-height: 1.5rem;
}